@font-face
{
    font-family: raleway;
    src: url(Raleway/Raleway-Regular.ttf);

}

@font-face
{
    font-family: raleway;
    src: url(Raleway/Raleway-Bold.ttf);
    font-weight: bold;

}
html
{
    margin: 0px;
}
p
{
    margin: 0px;
}
body
{
    margin: 0px;
    font-family: raleway;
    background-color: white;
    box-sizing: border-box;
}
.bloc_page
{
    width: 90%;
    margin: auto;
}
header:not(img)
{
    display: flex;
    justify-content: flex-end;
}
header img
{
    position: absolute;
    top: 3%;
    left: 4.9%;
}
header p
{
    margin-right: 60px;
    padding-top: 17px;
    padding: 17px;
}
.premier
{
    color:  #0065FC;
    border-top: 2px #0065FC solid;
    padding: 15px;
}
header strong
{
    color: #0065FC;
}
header p:hover
{
    background-color: #F2F2F2;
    border-radius: 0 0 20px 20px;
    -webkit-transform: translate(5px);
    transform: translateY(5px);
}

.search
{
    display: flex;
}
.fa-map-marker-alt
{
    color: black;
    height: 40px;
    width: 40px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input
{
    width: 150px;
    height: 40px;
    border: 1px #F2F2F2 solid;
    box-sizing: border-box;
    font-family: raleway;
    font-weight: bold;
    padding-left: 5px;
    color: black;
}
input::placeholder
{
    color: black;
}

.search_button
{
    display: flex;
    width: 120px;
    height: 40px;
    background-color: #0065FC;
    color: white;
    border-radius: 0 10px 10px 0;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.filters
{
    display: block;
    padding-inline-start: 0px;
}
.exept
{
    border: none;
    margin-left: 0px;
}
ul
{
    padding-inline-start: 0px;
}
li
{
    margin-right: 30px;
    box-sizing: border-box;
    display: inline;
    list-style-type: none;
    border: 1px #F2F2F2 solid;
    padding: 10px 20px 10px 0;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: bold;
}
li .fas
{
    display: inline-flex;
    color: #0065FC;
    background-color: #DEEBFF;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.fa-info
{
    font-size: 10px;
    display: inline-flex;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
.plus
{
    position: relative;
    left: 8px;
    top: 3px;
}

.main
{

    display: flex;
   
    
}
.main section
{
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 20px;
    flex: 2.3;
    margin-right: 20px;
}
.main aside
{
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
}

.main h1
{
    margin-left: 15px;
}
.main section > p
{
    margin-left: 15px;
    margin-top: 20px;
}
#housing
{ 
    display: flex;
    flex-wrap: wrap;
}
#housing img
{
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0 0;
}
#housing > *
{
    flex: 25%;
    background-color: white;
    margin: 15px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 4px 0px 4px rgba(0, 0, 0, 0.1);
}

.text1
{
    margin: 5px 0 5px 10px;
}
.text1 p
{
    margin: 5px;
}
#popularity
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#popularity img
{
    width: 100%;
    height: 100%;
    border-radius: 16px 0 0 16px;
    object-fit: contain;
}
#popularity > *
{
    
    
    background-color: white;
    margin: 15px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 4px 0px 4px rgba(0, 0, 0, 0.1);
}
#popularity div
{
    display: flex;
}
.img2
{
    flex: 1.3;
}
.text2
{
    margin-left: 5px;
    flex: 2;
    flex-direction: column;

}

.fa-chart-line
{
    margin-left: 130px;
    color: black;
}
span i
{
    color: #F2F2F2;
}
i
{
    color: #0065FC;
}
a:link
{
    text-decoration: none;
    color: black;
}
a:visited
{
    text-decoration: none;
    color: black;
}
#activities
{
    display: flex;
    width: 100%;
    height: 300px;
    
}
.a1
{
    height: 100%;
}
.a2
{
   height: 30%;
}
.a3
{
    height: 70%;
}
.a4
{
    height: 100%;
}
.a5
{
    height: 70%;
}
.a6
{
    height: 30%;
}

#activities img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 4px 0px 4px rgba(0, 0, 0, 0.1);

}

footer
{
    width: 100%;
    background-color: #F2F2F2;
}
footer .bloc_page
{
   
   
    margin-top: 30px;
    display: flex;
   
    
}
footer div
{
    width: 30%;
}
footer div p
{
    margin-top: 10px;
}